<!DOCTYPE html>
<html lang="en">

<head>
  <title>Favr Incoming</title>
  {{> head}}
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FAVR</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="profile">My Profile</a></li>
      <li><a href="home">Pending Favrs</a></li>
      <li><a href="offer">Offer a Favr</a></li>
      <li><a href="request">Request a Favr</a></li>
      <li class = "active"><a href="incoming"> Incoming Favrs</a><li>
      <li><a href="/">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">

    <h4>Incoming Favrs</h4>

    <table class="table">
      <thead>
            <tr>
              <th>Date</td>
              <th>User</td>
              <th>Task</td>
            </tr>
      </thead>
      <tbody>
        {{#each incoming}}
          <div class='favr' id="{{id}}">
            <tr>
              <!--<td>{{month}}/{{day}}</td>-->
              <td>{{date}}</td>
              <td>{{name}}</td>
              <td>{{task}}</td>

              <form action ="/acceptFavr" method = "get">
                <input hidden type="text" name="date" value="{{date}}">
                <input hidden type="text" name="name" value="{{name}}">
                <input hidden type="text" name="task" value="{{task}}">
                <input hidden type="text" name="id" value="{{id}}">
              <td><input type="submit" class="accept" value="Accept" ></td>
             </form>

              <form action ="/declineFavr" method = "get">
                <input hidden type="text" name="name" value="{{name}}">
              <td><input type ="submit" class="decline" value="Decline"></td>
            </form>

            </tr>
          </div>
        {{/each}}
    </tbody>
  </table>
</div>


</body>
</html>
