<!DOCTYPE html>
<html lang="en">
<head>
  <title>Favr Fam</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!--<link rel="stylesheet" type="text/css" href="../public/css/introHCI.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="js/jquery-1.11.0.js"> </script> 
  <script src="js/introHCI.js"> </script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FAVR</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="profile">My Profile</a></li>
      <li class="active"><a href="#">Pending Favrs</a></li>
      <li><a href="offer">Offe a Favr</a></li>
      <li><a href="request">Request a Favr</a></li>
    </ul>
  </div>
</nav>

<div class="container">

		<h4>Pending Favrs</h4>

    <table class="table">
      <thead>
            <tr>
              <th>Date</td>
              <th>User</td>
              <th>Task</td>
              <th>Done?</td>
            </tr>
      </thead>
      <tbody>
        {{#each favrs}}
          <div class='favr' id="{{id}}">
            <tr>
              <!--<td>{{month}}/{{day}}</td>-->
              <td>{{date}}</td>
              <td>{{name}}</td>
              <td>{{task}}</td>
              <td><input type="checkbox" name="done" value="done"></td>
              <td><input type = "submit" class="delete" value="Delete"></td>
            </tr>
          </div>
        {{/each}}
    </tbody>
  </table>
</div>

</body>
</html>
