<!DOCTYPE html>
<html>
  <head>
    <title>Favr Profile</title>
    {{> head}}
  </head>
  <body>
    {{> menu}}

  	<div class="container">
    	<h1>{{username}}</h1>

      <div class="profile">

        <img src={{image}}>
      </div>

      <br>

      <h2>Completed Favrs</h2>
          <div id="test"> </div>
          <table class="table">
            <thead>
                  <tr>
                    <th>Date</td>
                    <th>User</td>
                    <th>Task</td>
                  </tr>
            </thead>
            <tbody>
              {{#each favrs_completed}}
                <div class='favr' id="{{id}}">
                  <tr>
                    <td>{{date}}</td>
                    <td>{{name}}</td>
                    <td>{{task}}</td>
                  </tr>
                </div>
              {{/each}}
          </tbody>
        </table>
      </div><!-- /container-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
